.cardContainer {
    width: 250px;
    height: 367px;
    border-radius: 0px 20px 0px 20px;
    margin-bottom: 30px;
    box-shadow: -5px 5px 7px rgba(0,0,0, 0.1);
    font-family: Arial, Helvetica, sans-serif;

    div.img {
        width: 100%;
        height: 50%;
        border-radius: 0px 20px 0px 20px;
        background-size: 100% 100%;
    }

    div.desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        padding-top: 4px;

        div.icons {
           width: 100%;
           display: flex;
           justify-content: space-between;
           margin-top: 39px;
           border-radius: 0px 0px 0px 20px;
           height: 53px;
           padding-bottom: 15px;
           position: relative;
           bottom: 0px;
           

           div.cross {
               width: 28%;
               height: auto;
               display: flex;
               justify-content: center;
               align-items: center;
               font-size: 30px;
               background-color:orangered;
               color: white;
               padding-bottom: 5px;
               font-size: 45px;
               border-radius: 20px 0px 0px 0px;
               bottom: -4px;
               transition: all 0.3s;
               margin-bottom: 0px;
               position: relative;


               &:active, &:hover {
                   color: orangered;
                   background-color: white;
                   border: 2px solid orangered;
               }
           }

           div.star {
                width: 30%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        div.priceTitle {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: auto;
            padding: 0px;
            margin: 0px;

            div.title {
                width: 70%;
                text-align: left;
                padding-top: 3px;
                padding-left: 3px;
                font-weight: bold;
                padding: 0px;
            }

            div.price {
                width: 30%;
                font-weight: bold;
            }
        }

        div.description {
            height: 35px;
            padding: 0px;
            margin: 0px;
            width: 100%;
            font-size: 12px;
            text-align: left;
            text-overflow: ellipsis;
            margin-top: 10px;
        }

        div.des {
            height:20px;
            width: 100%;
            text-align: start;
            padding: 0px;
            font-size: 14px;
        }
    }
}