.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    color: orangered;
    margin: 10px;
    margin-top: 40px;

    div.each {
        margin: 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        label {
            width: 100%;
            margin-right: 20px;
            justify-content: flex-start;
            font-size: 30px;
        }

        input {
            outline: none;
            border: 2px solid orangered;
            width: auto;
            height: 50px;
            text-align: center;
            border-radius: 30px;
            transition: all 0.1s;

            &:active {
                border-style: hidden solid;
            }
        }
    }

    button {
        margin: 20px;
    }
}

@media screen and (min-width: 630px) {
    .form {
        width: 100vw;
    
        div.each {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            input {
                width: 400px;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .form {
        width: 100vw;
    
        div.each {
            input {
                width: 500px;
            }
        }
    }
}